@font-face {
    font-family: 'ZFTerminal';
    src: url('ZFTerminal.woff2') format('woff2'),
        url('ZFTerminal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

